<div class="welcome">
    <mat-card class="welcome-card" *ngIf="balance === undefined">
        <mat-card-content>
            <section style="text-align:center">
                <h2>Welcome to the Monkey election website</h2>
                <h3>A bug occured, check your console for more infos</h3>
            </section>
        </mat-card-content>
    </mat-card>

    <mat-card class="welcome-card" *ngIf="balance !== undefined">
        <mat-card-content>
            <section style="text-align:center">
                <h2>Welcome to the Monkey election website</h2>
                <h3>Your address is:</h3>
                <h4>{{address}} </h4>
                <h3> Your Balance is:</h3>
                <h4>{{balance}} ETH</h4>
            </section>
            <section style="text-align:center">
                <h2>List of candidates</h2>

                <table mat-table [dataSource]="candidatesDataSource" class="candidates-table">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- Votes count Column -->
                    <ng-container matColumnDef="voteCount">
                        <mat-header-cell mat-header-cell *matHeaderCellDef> Votes count </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.voteCount}} </mat-cell>
                    </ng-container>

                    <!-- Vote for him column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-flat-button color="accent" (click)="onClickVote(element.id)">Vote</button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
            </section>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button (click)="openDelegateDialog()" color="accent">Delegate</button>
            <button mat-stroked-button color="accent" (click)="openAddCandidateDialog()" *ngIf="isLeader">Add
                candidate</button>
        </mat-card-actions>
    </mat-card>
</div>